body {
	margin: 0px;
}

#main {
	/*
	   display:grid;
	   grid-template-columns: 75vw auto;
	   column-gap: 2em;
	*/
}

#map {
	height: 100vh;
	width: 100%;
}

#raw {
	height: 100vh;
	overflow: scroll;
}

.selected {
	font-weight: 700;
}


.layers-control {
	padding: 1rem;
}

.layers-control .layer-control {
	display: block;
	padding: 0.2rem;
}
